:root {
    --dark: #2D2D2D;
    --light-grey: #F5F5F5;
    --dark-grey: #D9D9D9;
    --main: #246729;
}

body {
    margin: 0 auto;
}

/* Typography */

h1 {
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: var(--main);
}

h2,
h3,
nav,
.banner-text,
.subheaders,
footer {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.banner-title {
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: white;
}

main p {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* The Rest */

header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 16px;
    box-shadow: var(--dark);
    background-color: white;
}

.header-flexed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-btn {
    background-color: unset;
    border: none;
    font-size: 4.40625rem;
}

.toggle-btn svg {
    display: block;
    width: 2rem;
}

nav {
    background-color: var(--main);
    color: white;
    position: fixed;
    top: 4.73rem;
    left: 22.6rem;
    width: 50%;
    z-index: 10;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav svg {
    width: 10%;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-button-flexed {
    display: flex;
    gap: 1rem;
}

.collapsed {
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
}

.expanded {
    max-height: unset;
    opacity: 1;
    visibility: visible;
}

.brand-name-logo {
    display: flex;
}

.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    background: url(../img/banner.jpg) center / cover no-repeat;
    padding: 36px;
    height: 198px;
}

.banner-title {
    max-width: 50vw;
}

.banner-text {
    visibility: hidden;
}


.image-container-1 {
    margin-left: 43%;
    padding-bottom: 0.5rem;
}

.image-container-2 {
    margin-left: 10%;
    margin-bottom: 1rem;
}

.about-us {
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px 16px 24px 16px;
    gap: 1.5rem;
}

.subheaders {
    margin-bottom: 0.25rem;
}

.the-squad {
    background-color: white;
    text-align: center;
    justify-content: center;
    padding: 24px 16px 24px 16px;
}

.team-card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 0.75rem;
}

.member {
    background-color: var(--light-grey);
    padding: 16px;
    width: 96%;
}

.socials {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 11px;
}

.must-visits {
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
}

.must-visits h2 {
    text-align: center;
    padding-top: 1.5rem;
}

.travel-card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
}

.vacation-locations {
    background-color: white;
    padding: 1rem;
}

.vacation-locations h3 {
    padding-top: 1rem;
    width: 96%;
}

footer {
    height: 4.25rem;
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 1rem;
    min-height: 15vh;
}

footer p {
    visibility: hidden;
}

.up-button {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    width: 36px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

/* Medium View */

@media (min-width: 834px) {
    .hamburger {
        display: none;
    }

    nav.collapsed,
    nav.expanded {
        color: black;
        top: 4.73rem;
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    .banner-text {
        visibility: visible;
        padding-top: 1rem;
    }

    footer p {
        visibility: visible;
    }
    nav a :hover {
        color: var(--main);
    }
}

/* Large View */

@media (min-width: 1440px) {
    .hamburger {
        display: none;
    }

    nav.collapsed,
    nav.expanded {
        background-color: white;
        color: black;
        box-shadow: none;
        max-height: unset;
        position: static;
        visibility: visible;
        width: unset;
    }

    .banner-text {
        visibility: visible;
        padding-top: 1rem;
    }

    footer p {
        visibility: visible;
    }

    nav a :hover {
        color: var(--main);
    }
}