:root {
    --dark: #2D2D2D;
    --light-grey: #F5F5F5;
    --dark-grey: #D9D9D9;
    --main: #246729;
}

main {
    margin: 0 auto;
}

/* Typography */

h1 {
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

h2,
h3,
.subheaders,
footer {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.banner {
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.25rem;
}

main p {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* The Rest */

footer {
    height: 4.25rem;
    visibility: hidden;
    color: var(--dark);
    align-items: center;
}

.up-button {
    display: flex;
    justify-content: flex-end;
}

/* Medium View */

@media (min-width: 834px) {
    footer {
        visibility: visible;
    }
}

/* Large View */

@media (min-width: 1440px) {
    footer {
        visibility: visible;
    }
}